<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeDemoConn"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SimpleDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>